<main class="row">
	<article class="col-md-8 d-flex flex-column">
  	<div class="row no-gutters thread-box">
    	<div class="col-md-8 d-flex flex-column">
				<h3 class="thread-title">タイトルタイトル</h3>
        <p class="thread-text">本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文</p>
        <div class="d-flex flex-row justify-content-start">
          <p class="genre">ジャンル</p>
          <p class="genre">ジャンル</p>
          <p class="genre">ジャンル</p>
        </div>
        <p>作成日時</p>
      </div>
      <div class="col-md-4">
        <svg>picture</svg>
      </div>
    </div>
    <div class="row no-gutters thread-box">
      <div class="col-md-8 d-flex flex-column">
        <h3 class="thread-title">タイトルタイトル</h3>
        <p class="thread-text">本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文</p>
        <div class="d-flex flex-row justify-content-start">
          <p class="genre">ジャンル</p>
          <p class="genre">ジャンル</p>
          <p class="genre">ジャンル</p>
        </div>
        <p>作成日時</p>
      </div>
      <div class="col-md-4">
        <svg>picture</svg>
      </div>
    </div>
	</article>
	<aside class="col-md-4">
	  <%= render "layouts/sidebar" %>
	</aside>
</main>
