@import "bootstrap";

body{
	background-color: #eeece2;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header{
	background-color: #fff;    
}

hr{
	margin: 0;
}

footer{
	background-color: #fff;
	margin-top: auto;
}

.toplogo{
	padding: 15px 0;
}

.toptitle-h1{
	text-decoration: none;
}

.genre{
	display: inline-block;
}

.thread-box{
	background-color: #fff;
	margin: 10px 5px;
	padding: 15px 10px;
}

.thread-title{
	padding: 10px 0;
}

.sidebar-item{
	background-color: #fff;
	margin: 8px 0;
}

.login-box{
	background-color: #fff;
	margin: 10px 5px;
	padding: 15px 10px;
}

.registration-box{
	background-color: #fff;
	margin: 10px 5px;
	padding: 15px 10px;
}

.response-createbox{
	border: 1px solid #333;
}

.response-showbox{
	background-color: #fff;
}

.search-box{
	border: 1px solid #333;
}

.user-box{
	background-color: #fff;
}
