<header>
  <div class="toplogo text-center">
    <h1><%= link_to "まんが.BBS", root_path, class:"text-dark", :style=>"text-decoration:none" %></h1>
  </div>
  <hr color="#888" width="100%" size="2">
  <nav class="navbar d-flex justify-content-around">
    <p><%= link_to "ジャンル一覧", category_index_path %></p>
    <p><%= link_to "キーワード検索", posts_path %></p>
    <% if user_signed_in? %>
      <p>ユーザー</p>
    <% else %>
      <p><%= link_to "ログイン", new_user_session_path %></p>
    <% end %>
  </nav>
</header>
