<div class="sidebar d-flex flex-column">
  <div class="sidebar-title text-center">
    <h3>Menu</h3>
  </div>
  <div class="sidebar-item text-center">
    <h4>探す</h4>
  </div>
  <div class="sidebar-item text-center">
    <h4>作る</h4>
    <% if user_signed_in? %>
      <div class="m-2"><button class=" btn btn-outline-primary"><%= link_to "新規スレッド作成", new_user_post_path(current_user), :style=>"color:blue" %></button></div>
    <% else %>
      <div class="m-2"><p>スレッド作成には、ログインが必要です</p></div>
    <% end %>
  </div>
  <div class="sidebar-item d-flex flex-column text-center">
    <% if user_signed_in? %>
      <div class="m-2"><h4>ユーザー情報</h4></div>
      <div class="m-2"><button class="btn btn-outline-danger"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, :style=>"color:red"  %></button></div>
    <% else %>
      <div class="m-2"><h4>登録/ログイン</h4></div>
      <div class="m-2"><button class=" btn btn-outline-primary"><%= link_to "新規登録", new_user_registration_path, :style=>"color:blue" %></button></div>
      <div class="m-2"><button class="btn btn-outline-success"><%= link_to "ログイン", new_user_session_path, :style=>"color:green"  %></button></div>
    <% end %>
  </div>
</div>